<div class="my-4">
    <!-- Form tìm kiếm-->
    <partial name="_SearchForm" />


    <!-- Các chuyên mục/chủ đề -->
    @await Component.InvokeAsync("CategoriesWidget")

    <!-- Top bài viết nổi bật -->
    @await Component.InvokeAsync("FeaturedPostsWidget")

    <!-- Bài viết bất kỳ -->
    @await Component.InvokeAsync("RandomPostsWidget")

    <!-- Các thẻ -->
    @await Component.InvokeAsync("TagCloudWidget")

    <!--Top 4 tác giả-->
    @await Component.InvokeAsync("BestAuthorsWidget")

    <!--Bài viết trong 12 tháng-->
    @await Component.InvokeAsync("ArchivesWidget")

    <!-- Đăng ký nhận tin mới -->
    <form asp-area="Admin"
      asp-controller="Posts"
      asp-action="Index"
      method="get"
      class="row gy-2 gx-3 align-items-center">

    <div class="col-auto">
            <label class="visually-hidden" asp-controller="Newsletter"
                   asp-action="Subscribe"></label>
        <input type="text"
               class="form-control"
                   asp-controller="Newsletter"
                   asp-action="Subscribe"
               placeholder="Nhập Email..." />
    </div>
    </form>

    <button class="btn btn-default btn-outline-dark ">
        <a asp-controller="Newsletter"
           asp-action="Subscribe"
           class="text-uppercase fw-bold text-decoration-none text-black">
            Đăng ký NewsLetter
        </a>
    </button>
</div>

